<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="memberDelete">
    <div>
        <input type="password" name="password" id="password" placeholder="현재 비밀번호"><br>
        <button type="button" id="passwordChangeButton">회원 탈퇴</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#passwordChangeButton').on('click',function(event){
            event.preventDefault();
            // 폼 데이터를 시리얼라이즈하여 객체로 변환
            var formData = $('#memberDelete').serialize();
            $.ajax({
                url: '/member/deleteProc',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: formData,
                success: function(response){
                    if(confirm('회원탈퇴를 하시겠습니까?')){
                        alert('회원탈퇴 완료');
                        window.location.href='/logout'
                    }
                },
                error: function(xhr){
                    var errorMessage = xhr.responseText;
                    alert(errorMessage);
                }
            });
        });
    });

</script>
</body>
</html>