<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <style>
        input{
            width: 300px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 5px;

        }
        .title{
            font-weight: bolder;

        }
        #join{
            width: 310px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #ccc;
            padding: 5px;

        }
        #join:hover {
            background-color : #ccccccde;
            cursor: pointer;
        }
        .error {
            color: red;
            font-size: 12px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<form name="joinForm" id="joinForm">
    <table align="center">
        <tr>
            <td>
                <span class="title">아이디</span><br><input type="text" placeholder="4~20자의 영소문자, 숫자만 사용가능합니다." id="username" name="username">
                <div id="memberIdError" class="error"></div>
            </td>
        </tr>

        <tr>
            <td>
                <br><span class="title">비밀번호</span><br><input type="password" placeholder="8~16자의 영문 대/소문자, 숫자를 사용해 주세요." id="password" name="password">
                <div id="memberPassword" class="error"></div>
            </td>
        </tr>
        <tr>
            <td>
                <br><span class="title">비밀번호 확인</span><br><input type="password" placeholder="비밀번호 확인 입력"name="passwordChk">
            </td>
        </tr>
        <tr>
            <td>
                <br><span class="title">이메일</span><br><input type="text" placeholder="이메일입력" name="email">
                <div id="emailError" class="error"></div>
            </td>
        </tr>
        <tr>
            <td>
                <br><span class="title">이름</span><br><input type="text" placeholder="이름 입력" name="memberName">
                <div id="memberNameError" class="error"></div>
            </td>
        </tr>

        <tr>
            <td>
                <br><span class="title">이미지</span><br><input type="file" name="memberFile">
            </td>
        </tr>

        <tr align="center">
            <td>
                <br><button type="button"  id="join">회원가입 완료</button>
            </td>
        </tr>
    </table>
</form>
<div id="message"></div>

<script>
    $(document).ready(function() {
        $('#join').on('click', function(event) {
            if(confirm('회원가입 하시겠습니까?')){
                event.preventDefault(); // 폼의 기본 제출 동작을 막음

                // 폼 데이터를 시리얼라이즈하여 객체로 변환
                var formData = $('#joinForm').serialize();

                // AJAX 요청 보내기
                $.ajax({
                    url: '/member/joinProc',
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded',
                    data: formData,
                    success: function(response) {
                        // 성공적으로 데이터가 전송되었을 때 처리
                        $('#message').text(response.message);
                    },
                    error: function(xhr) {
                        // 오류 발생 시 처리
                        var errorResponse = xhr.responseJSON;
                        $('.error').text('');
                        // 오류 메시지 표시
                        if (errorResponse.username) {
                            $('#memberIdError').text(errorResponse.username);
                        }
                        if (errorResponse.password) {
                            $('#memberPassword').text(errorResponse.password);
                        }
                        if (errorResponse.memberName) {
                            $('#memberNameError').text(errorResponse.memberName);
                        }
                        if (errorResponse.email) {
                            $('#emailError').text(errorResponse.email);
                        }

                    }
                });
            }
        });
    });
</script>






</body>
</html>
