<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="logout" action="/logout" method="post">
    </form>

  <!--  <div sec:authorize="isAnonymous()"> &lt;!&ndash; 로그인 안한사람들만 보이게 &ndash;&gt;
        <a href="/login">로그인</a>
        <a href="/member/join">회원가입</a>
    </div>-->

  <!--  <div sec:authorize="isAuthenticated()"> &lt;!&ndash; 로그인 한사람들만 보이게 &ndash;&gt;
        <a href="#" onclick="document.getElementById('logout').submit();">Logout</a><br>
        회원아이디: <span sec:authentication="principal.username"></span>
    </div >-->
    <a href="/member/join">회원가입</a>
    <a href="/login">로그인</a>
    <a href="/income/list">가계부</a>
<br>
</body>
</html>